<! doctype = html>
<html lang=ja>
    <head>
        <title>支部員ツール</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <body>
        <div id="app">
            <div id="bg">
                <div class="header">
                    <ul>
                        <li>
                            <ul>
                                <li>支部員ツール{{view}}</li>
                                <li v-if="!login">ゲスト様</li>
                                <li v-else>{{userName}} で<span v-if="!liff">外部ブラウザ</span><span v-else>LINE</span>からログイン中</li>
                            </ul>
                        </li>
                        <li>
                            <button v-if="!login&&view!='#register'" v-on:click="logIn" id="loginButton">ログイン</button>
                            <button v-if="login&&!liff" v-on:click="logOut" id="logoutButton">ログアウト</button>
                        </li>
                    </ul>
                </div>
                <div v-if="view=='#home'" class="mainmenu">
                    <ul>
                        <li v-bind:style="contentStyle" v-bind:class="{ activeMenu: login, nonactiveMenu: !login}"><a><span></span><span>在庫管理</span><span></span></a></li>
                        <li v-bind:style="contentStyle" v-bind:class="{ activeMenu: login, nonactiveMenu: !login}"><a><span></span><span>購入処理</span><span></span></a></li>
                        <li v-bind:style="contentStyle" v-bind:class="{ activeMenu: login, nonactiveMenu: !login}"><a><span></span><span>予約管理</span><span></span></a></li>
                        <li v-bind:style="contentStyle" v-bind:class="{ activeMenu: login, nonactiveMenu: !login}"><a href = "#register"><span></span><span>登録変更</span><span></span></a></li>
                    </ul>
                </div>
                <div v-if="view=='#register'" class="regiform">
                    <h2>支部員登録</h2>
                    <ul>
                        <li><label>氏名:</label><input v-model="userName" type="text" placeholder = "フルネームを入力"/></li>
                        <li><label>学籍番号:</label><input v-on:change="snCheck" type="text" v-model="studentNumber" placeholder = "学籍番号を入力"></li>
                        <li><label>パスワード:</label><input v-model="password" v-bind:type="pwview?'text':'password'" /><button v-on:click="pwViewClick">PW表示</button></li>
                    </ul>
                    <button v-on:click="register">登録</button>
                </div>
                <div v-if="view=='#login'" class="loginform">
                    <h2>ログイン</h2>
                    <p>初めての人は<a href = "#register">支部員登録</a>から</p>
                    <ul>
                        <li><label for = "login_sn">学籍番号:</label><input id = "login_sn" v-on:change="snCheck" type="text" v-model="studentNumber" placeholder = "学籍番号"></li>
                        <li><label for = "login_pw">パスワード:</label><input id= "login_pw" v-model="password" type="password" /></li>
                        <li><label for = "login_saved">ログイン状態を保持:</label><input id="login_saved" v-model="willsave" type="checkbox" />
                    </ul>
                    <div align="right"><button v-on:click = "logIn">ログイン</button></div>
                    
                </div>
            </div>
            <div id="mask" v-show="maskview"><span></span><span>読み込み中・・・</span><span></span></div>
        </div>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./script.js"></script>
    </body>
</html>