<!doctype=html>
<html>
    <head>
        <title>購入処理</title>
        <meta name="viewport" content="width=device-width minimum-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="./style_keyboard.css">
    </head>
    <body>
        <div id="app">
            <div id="main" v-if="authcheck">
                <div id="input" v-bind:style="style_inp">
                    <div>
                        <label for="input_isbn"><span>ISBNを入力</span></label><input id="input_isbn" type="number" v-model="display_isbn" v-on:change="isbnAutoCheck(0);" maxlength="13" max="9999999999999"/><button v-on:click="isbnAutoCheck(1);">Check!</button>
                    </div>
                </div>
                <div id="booklist" class="bookList" v-bind:style="style_books">
                    <div>予約者:<span>{{reservator?reservator+" 様":" ナ シ "}}</span></div>
                    <ul v-for="(item, index) in bookList">
                        <li><button v-on:click="deleteBook(index);">×</button></li>
                        <li>{{item.isbn}}</li>
                        <li>{{item.title}}</li>
                        <li>￥<input type="number" v-model=item.price readonly=true><button v-on:click="changePrice(index);">変更</button></li>
                    </ul>
                </div>
                <div id="control">
                    <div id="keyboards" v-bind:style="style_keybase">
                        <div id="key_isbn" class="keyboard" v-bind:style="style_keyboard">
                            <div><span>ISBN用キーボード</span></div>
                            <ul>
                                <li>
                                    <ul>
                                        <button v-on:click="editISBN(7);"><li>7</li></button><button v-on:click="editISBN(8);"><li>8</li></button><button v-on:click="editISBN(9);"><li>9</li></button>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <button v-on:click="editISBN(4);"><li>4</li></button><button v-on:click="editISBN(5);"><li>5</li></button><button v-on:click="editISBN(6);"><li>6</li></button>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <button v-on:click="editISBN(1);"><li>1</li></button><button v-on:click="editISBN(2);"><li>2</li></button><button v-on:click="editISBN(3);"><li>3</li></button>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <button v-on:click="editISBN(0);"><li>0</li></button><button v-if="display_isbn" v-on:click="editISBN(-1);"><li>Del</li></button><button v-else v-on:click="editISBN(9784);"><li>9784</li></button><button v-on:click="editISBN(-2);"><li>Clear</li></button>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="key_price" class="keyboard" v-bind:style="style_keyboard">
                            <div><span>金額入力用キーボード</span></div>
                            <div>{{message1}}</div>
                            <div><input type="number" v-bind:value="buf_price" readonly></div>
                            <ul>
                                <li>
                                    <ul>
                                        <button v-on:click="editPrice(7);"><li>7</li></button><button v-on:click="editPrice(8);"><li>8</li></button><button v-on:click="editPrice(9);"><li>9</li></button>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <button v-on:click="editPrice(4);"><li>4</li></button><button v-on:click="editPrice(5);"><li>5</li></button><button v-on:click="editPrice(6);"><li>6</li></button>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <button v-on:click="editPrice(1);"><li>1</li></button><button v-on:click="editPrice(2);"><li>2</li></button><button v-on:click="editPrice(3);"><li>3</li></button>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <button v-on:click="editPrice(0);"><li>0</li></button><button v-on:click="editPrice(-2);"><li>Clear</li></button><button v-on:click="confirmPrice"><li>確定</li></button>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="reservationList" class="reservationList" v-bind:style="style_keyboard">
                            <div>予約者一覧</div>
                            <ul v-for="(item, index) in reservationList">
                                <li><button v-on:click=cancelReservation(index)>×</button></li>
                                <li>{{item.code}}</li>
                                <li>{{item.reservator}}</li>
                                <li>{{item.books.length}}冊</li>
                                <li><button v-on:click="addCartFromReservation(index)">読み込み</button></li>
                            </ul>
                            <div><button v-on:click="showReservations">予約問い合わせ</button></div>
                        </div>
                        <div v-bind:style="style_keyboard"><div v-if="purchasecode">レシート番号</div><div>{{purchasecode}}</div></div>
                    </div>
                    <div id="process" v-bind:style="style_process">
                        <div id="sum">
                            <ul>
                                <li><span>合計　:￥</span><span>{{display_priceSum}}</span></li>
                                <li><span>支払い:￥</span><span>{{display_payment}}</span></li>
                                <li><span>おつり:￥</span><span>{{display_change}}</span></li>
                            </ul>
                        </div>
                        <div id="buttons">
                            <div><button v-if="state==1" v-on:click="makeSum">合計</button></div>
                            <div><button v-if="state==2||state==4" v-on:click="nextState">OK</button></div>
                            <div><button v-if="state==5" v-on:click="confirmPurchase">購入<br>確定</button></div>
                            <div><button v-if="bookList.length>0||state!=1" v-on:click="backState">戻る</button></div>
                        </div>
                        <div><button v-if="state==1" v-on:click="showReservations">予約一覧</button></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="./script.js"></script>
    </body>
</html>