#main{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:5px;
}
#control{
    display:flex;
}
.bookList{
    padding:10px 0;
    overflow-y: scroll;
}
.bookList>ul{
    list-style: none;
    padding:0 5%;
    margin:10px;
    display:flex;
    justify-content: space-between;
}
.bookList input{
    border: none;
    width:5em;
    font-size:1em;
    text-align: right;
}
.reservationList>ul{
    padding:6px;
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: space-around;
}

#sum>ul{
    list-style: none;
    padding: 0;
}
#sum>ul>li{
    display:flex;
    justify-content: space-between;
}
#buttons{
    text-align: center;
}
#buttons button{
    font-size:1.5em;
    width:5em;
    padding:6px;
}